.donate-form {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#login-form
{
	display: block;
}
.form-box
{
	justify-content: center;
    align-items: center;
	margin-bottom:40vw auto;
	background:var(--primary-light);
	padding:0.9vw;
    overflow: hidden;
    border-radius: 1%;
}
.button-box
{
	width:20rem;
	margin:2.1rem auto;
	position:relative;
	box-shadow: 0 0 9px 3px var(--secondary-text-color);
	border-radius: 30px;
}
.toggle-btn
{
	padding:0.6rem 1.9rem;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
    font-size: 0.9rem;
    font-weight: bolder;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 10rem;
	height: 100%;
	background: var(--secondary-text-color);
	border-radius: 1.9rem;
	transition: .5s;
}
.input-group-login
{
	top: 6.25rem;
	width:23.75rem;
	transition:.5s;
}
.input-group-register
{
    top: 7.5rem;
	width:23.75rem;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
    color: black;
}
.submit-btn
{
	width: 85%;
	padding: 0.6rem 1.9rem;
	cursor: pointer;
	display: block;
	margin: auto;
	background: var(--secondary-text-color);
	border: 0;
	outline: none;
	border-radius: 1.9rem;
    color: white;
    margin-top: 1.25rem;
    font-size: 0.9rem;
    font-weight: bolder;
}
.check-box
{
	margin: 1.9rem 0.6rem 2.4rem 0;
}
span
{
	color: black;
	font-size:0.75rem;
	bottom:4.25rem;
	position:absolute;
}
#login
{
	left:3.125rem;
}
#login>input
{
	color:black;
	font-size:0.9rem;
}
#register
{
	left:34.4rem;
}
#register>input
{
	color:black;
	font-size: 0.9rem;
}




.modal-close {
    float:right;
    text-decoration:none;
    padding:0.06rem 0.6rem;
    color:black;
    font-size: 1.5rem;
    font-weight:200;
    transition:all .3s ease-in-out;
    z-index:+1;
    /* background:rgba(0,0,0,0.1); */
    text-align:center;
    /* border-radius:0 4px 0 0; */
  }
  .modal-close:hover {
    color:red;
    /* background:rgba(0,0,0,0.5); */
  }







h3 {
    /* border-bottom: 1px solid black; */
    /* height: 40px; */
    font-size: 0.9rem;
}
.leftside {
    /* margin-top: 50px;
    margin-left:50px; */
    width: 100%;
}

.labelexpanded {
    font-size: 0.75rem;
}

.labelexpanded > input {
    display:none;
}

.labelexpanded input:checked + .radio-btns {
    background-color: #885F88;
    color: #fff;
}

.radio-btns {
    width: 6rem;
    height: 3.7rem;
    border-radius: 15px;
    position: relative;
    text-align: center;
    /* padding: 19px 29px; */
    box-shadow: 0 1px #c3c3c3;
    cursor: pointer;
    border: 2px solid #eaeaea;
    float:left;
    margin: 1.25rem;
    align-items: center;
}

.radio-btns > p {
    font-size: 0.75rem;
    margin: 1rem;
}


